*{
  margin: 0;

}

:root {
  /*primary colors*/
  --green: hsl(170, 100%, 26%);
  --green-light: hsl(148, 23%, 89%);
  --green-light-02: hsl(180, 14%, 97%);
  --beige: hsl(39, 100%, 97%);
  --hover: hsl(170, 100%, 14%);

  /*secondary colors*/
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --white: hsl(0, 0%, 100%);

  font-size: 62.5%; 
  
  /* 1rem = 100% = 16px (normalmente) */
  /* 1rem = 62.5% = 10px (agora) */
}
body{
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
}

header{
  width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
}

h1{
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
}

h4{
  font-size: 1.4rem;
  color: var(--green);
}

p{
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: hsl(210, 9%, 31%);
}

button{
  background-color: var(--green);
  border: none;
  border-radius: 0.8rem;
}

img{

}

/*block tem toda a largura da pagina*/
/*inline nao tem toda a largura da pagina*/